﻿@model IEnumerable<jobApplicationTracking.Models.jobApplicationDto>
@{
    ViewBag.Title = "List";
}



<div class="container">
    <h2 class="text-center mb-4">Job Positions List</h2>
    <a href="/jobApplication/New" class="btn btn-success mb-3">Add New Job Position</a>
    <div class="row">
        @foreach (var jobApplication in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/jobApplication/Details/@jobApplication.JobApplicationID">@jobApplication.JobTitle</a></h5>
                        <p class="card-text">Location: @jobApplication.JobLocation</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>